{% extends "layout-template-header.html" %}

{% block page_title %}
  Header
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="service-info" >
    <div class="beta-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span class="feedback">This is a new service - your <a href="/contact/beta-feedback-unauthenticated?service=PTA">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    <div class="logo">
      <span class="organisation-logo organisation-logo-medium">HM Revenue &amp; Customs</span>
    </div>
  </div>
  <!--<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Page heading</h1>
      
      <p>[Body content]</p>

    </div>

  </div>-->
</main>

{% endblock %}


