{% extends "layout-template.html" %}

{% block page_title %}
  HMRC Footer
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/back.html" %}

      <h1 class="heading-xlarge">HMRC Footer</h1>

      <h3 class="heading-small">Footer with utility links</h3>
      <div class="wrap height-200">
        <iframe src="footer" frameborder="0"></iframe>
      </div>

      <h3 class="heading-small">Footer with report a problem</h3>
      <div class="wrap height-300">
        <iframe src="footer-report-a-problem" frameborder="0"></iframe>
      </div>

      


    </div>
  </div>
</main>

{% endblock %}