{% extends "layout-template.html" %}

{% block page_title %}
Get help with this page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/back.html" %}

      <h1 class="heading-xlarge">Get help with this page</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <div class="scale-wrapper">
        <div class="scale">
          {% include "patterns/get-help-with-this-page/get-help-with-this-page.html" %}
        </div>
      </div>
      <p><a href="get-help-with-this-page.html" target="_blank">View in a new window</a></p>

    </div>
  </div>
</main>


{% endblock %}
