{% extends "govuk-template.html" %}

{% block h1 %}HMRC page template{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% import "patterns/macro/header.html" as pattern %}
{{ pattern.header(proposition=true) }}
<main id="content">
  {% import "patterns/macro/banner.html" as pattern %}
  {{ pattern.banner(hmrc=true, beta=true, signedIn=true) }}
  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">You’ve been signed out</h1>
        <p class="lede">You haven’t done anything for 15 minutes, so we’ve signed you out to keep your account secure.</p>
        <p>Please sign in again.</p>
        <p><a class="button">Sign in</a></p>
    </div>
  </div>
</main>

{% endblock %}

