{% extends "govuk-template.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "includes/back.html" %}
      <h1 class="heading-xlarge">{% block h1 %}Address{% endblock %}</h1>

      <h2 class="heading-large">Does the address have a UK postcode</h2>
      <div class="scale-wrapper">
        <div class="scale">
          {% include "service-patterns/blank/does-the-address.html" %}
        </div>
      </div>
      <p><a href="blank/does-the-address.html" target="_blank">View in a new window</a></p>

      <h2 class="heading-large">Enter address</h2>
      <div class="scale-wrapper">
        <div class="scale">
          {% include "service-patterns/blank/enter-address.html" %}
        </div>
      </div>
      <p><a href="blank/enter-address.html" target="_blank">View in a new window</a></p>

      <h2 class="heading-large">Find the address where the company will carry out most of its business activities</h2>
      <div class="scale-wrapper">
        <div class="scale">
          {% include "service-patterns/blank/find-the-address.html" %}
        </div>
      </div>
      <p><a href="blank/find-the-address.html" target="_blank">View in a new window</a></p>

      <h2 class="heading-large">Choose your address</h2>
      <div class="scale-wrapper">
        <div class="scale">
          {% include "service-patterns/blank/choose-your-address.html" %}
        </div>
      </div>
      <p><a href="blank/choose-your-address.html" target="_blank">View in a new window</a></p>


      <h2 class="heading-large">Confirm the address</h2>
      <div class="scale-wrapper">
        <div class="scale">
          {% include "service-patterns/blank/confirm-address.html" %}
        </div>
      </div>
      <p><a href="blank/confirm-address.html" target="_blank">View in a new window</a></p>


    </div>
  </div>
</main>

{% endblock %}
