<!--GOV.UK header-->
{% include "patterns/header/includes/govuk_header.html" %}
<!--Content wrapper-->
<main id="content" role="main">
  <!--Phase banner-->
  {% include "patterns/header/includes/phase_banner_beta.html" %}
  <!--HMRC logo banner-->
  {% include "patterns/header/includes/hmrc_logo_banner.html" %}
  <!--Welsh toggle-->
  {% include "patterns/header/includes/welsh_toggle.html" %}
  <!--Main content-->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Service unavailable</h1>

      <p>You will be able to use the service at 9am on Monday 29 May 2017.</p>

      <p>Contact us if you have any questions.</p>

      <p>Telephone: 03000 555 995</p>

      <p>Opening times: 8:30am to 4:30pm, Monday to Friday</p>

    </div>

  </div>
</main>
<!--HMRC footer-->
{% include "patterns/footer/includes/footer.html" %}