{% macro header(
serviceName='Service name',
proposition,
navigation,
signedIn,
cookie
) %}

{% if cookie %}
<div id="global-cookie-message" style="display: block;">
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div>
{% endif %}
<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="{{ homepage_url|default('https://www.gov.uk') }}" title="{{ logo_link_title|default('Go to the GOV.UK homepage') }}"
           id="logo" class="content">
          <img src="{{ asset_path }}images/gov.uk_logotype_crown_invert_trans.png?0.19.2" width="36" height="32" alt="">            {{ global_header_text|default('GOV.UK') }}
        </a>
      </div>
    </div>
    {% if proposition %}
    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
        <ul class="service-info">
          <li><a href="/" id="proposition-name">{{serviceName}}</a></li>
          {% if signedIn %}
          <li class="signout-link"><a href="#">Sign out</a> </li>
          {% endif %}            
          </ul>
        </nav>

      </div>
    </div>
    {% endif %}
  </div>
</header>
<div id="global-header-bar"></div>
{% endmacro %}
