<!DOCTYPE html>
<html class="no-branding">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Service unavailable - GOV.UK</title>
  <link href="/public/stylesheets/gone.css" media="screen" rel="stylesheet" type="text/css">
  <!--[if lte IE 8]><link href="ie.css" media="screen" rel="stylesheet" type="text/css"><![endif]-->
  <link rel="icon" href="https://www.tax.service.gov.uk/template/assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <div id="wrapper">
    <div id="banner" role="banner">
      <div class="inner">
        <h1>
          <a href="https://www.gov.uk/">
            <img src="/public/images/govuk-logo.png" alt="GOV.UK">
          </a>
        </h1>
      </div>
    </div>
    <div id="message" role="main">
      <div class="inner">
        <div id="detail">
          <h2>Some of HMRC's digital services are currently down for scheduled maintenance.</h2>
          <p>We are making improvements and apologise for any inconvenience.</p>
          <p class="call-to-action">Please try again later this afternoon or click <a href="https://online.hmrc.gov.uk/self-assessment">here</a> to continue to file your self assessment return</p>
          <p class="call-to-action">You can still <a href="https://www.gov.uk/topic/dealing-with-hmrc/paying-hmrc">make a payment</a>, but debit and credit card options won't work.</p>
        </div>
        <div id="footer">
          <p>The <a href="https://www.gov.uk/support">GOV.UK support pages</a> have answers to the most common questions.
          You can use the <a href="https://www.gov.uk/feedback/contact">contact form on GOV.UK</a> to ask a question, report a problem or suggest an improvement.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>