{% extends "layout-template.html" %} {% block page_title %} 404 pages {% endblock %} {% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">5XX pages</h1>

      <h2 class="heading-medium">Standard 500 page</h2>
      <p>Use <a href="500">this page</a> when the page that the user is looking for.</p>

      <h2 class="heading-medium">500 page when there is an alternative channel</h2>
      <p>Use <a href="500-alternative-channel">this page</a> when there is an error and there is an alternative channel that users can access to complete their transaction.</p>






    </div>

  </div>
</main>

{% endblock %}