{% extends "index.html" %}

{% block page_title %}HMRC page template{% endblock %}

{% block header %}
{% import "patterns/macro/header.html" as index %}
{{ index.header(serviceName='HMRC page template', proposition=true) }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/back.html" %}

      <h1 class="heading-xlarge">HMRC Page template</h1>

      <div class="alert alert--info">
        <p class="alert__message">These patterns are work in progress.</p>
        <p class="alert__message">View the todo list for this pattern on <a href="https://github.com/hmrc/design-language-documentation/issues/108">GitHub</a>.</p>
        <!--@todo add a link to the github issue for this-->
      </div>

      <p class="lede">The standard HMRC page template is provided to all service by the Template as a Service (TaaS).</p>

      <div class="scale-wrapper">
        <div class="scale">
          {% include "pages/blank/page-template.html" %}
        </div>
      </div>
      <p><a href="blank/page-template.html" target="_blank">View in a browser</a></p>







    </div>

  </div>
</main>

{% endblock %}


