{% extends "blank-layout.html" %}

{% block page_title %}Get help with this page pattern{% endblock %}

{% block content %}

<main id="content" role="main">
  <div id="report-error-partial-form" class="report-error__content">

    <h2 class="heading-medium">Get help using this service</h2>
    <p>Don't include any personal or financial information. For example, your National Insurance or credit card
      numbers.</p>

    <form action="/contact/problem_reports_secure" method="POST" id="error-feedback-form" class="form--feedback"
          novalidate="novalidate">

      <fieldset>
        <legend class="visuallyhidden">Get help using this service</legend>
        <div class="form-group-compound">
          <label for="report-name" class="form-label">Name</label>
          <input id="report-name" maxlength="70" class="input--fullwidth form-control" name="report-name" type="text"
                 data-rule-letterswithbasicpunc="true" data-rule-required="true"
                 data-msg-required="Please provide your name." aria-required="true"
                 style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        </div>
        <div class="form-group-compound">
          <label for="report-email" class="form-label">Email</label>
          <input id="report-email" maxlength="255" class="input--fullwidth form-control" name="report-email"
                 type="email"
                 data-rule-required="true" data-rule-email="true" data-msg-required="Please provide your email address."
                 aria-required="true">
        </div>
        <div class="form-group-compound">
          <label for="report-action" class="form-label">What were you doing?</label>
          <input id="report-action" maxlength="1000" class="input--fullwidth form-control" name="report-action"
                 type="text" data-rule-required="true" data-msg-required="Please enter details of what you were doing."
                 aria-required="true">
        </div>
        <div class="form-group-compound">
          <label for="report-error" class="form-label">What do you need help with?</label>
          <input id="report-error" maxlength="1000" class="input--fullwidth form-control" name="report-error"
                 type="text"
                 data-rule-required="true" data-msg-required="Please enter details of what went wrong."
                 aria-required="true">
        </div>
        <input type="hidden" name="isJavascript" value="true">
        <input type="hidden" name="referrer"
               value="https://www.tax.service.gov.uk/gg/sign-in?continue=%2Fpersonal-account%2Fdo-uplift%3FredirectUrl%3D%252Fpersonal-account&amp;accountType=individual&amp;origin=PERTAX">
        <div class="form-field">
          <button id="report-submit" class="button" type="submit"
                  data-journey-click="page:Click:Get help with this page Submit">Send
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</main>

{% endblock %}


