{% extends "govuk-template.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "includes/back.html" %}
      <h1 class="heading-xlarge">{% block h1 %}Get help with this page{% endblock %}</h1>
      <div class="scale-wrapper">
        <div class="scale">
          {% include "patterns/blank/get-help-with-this-page.html" %}
        </div>
      </div>
      <p><a href="blank/get-help-with-this-page.html" target="_blank">View in a new window</a></p>
    </div>
  </div>
</main>

{% endblock %}


