{% extends "layout-template-blank.html" %}

{% block page_title %}
  404
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/hmrc_logo_banner_signed_in.html" %}
  {% include "includes/welsh_toggle.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">This page cannot be found</h1>

      <p>It looks like you are trying to get to a page that doesn't exsist.</p>
      
      <p>Please contact HMRC on 03000 555 995 so that we can help you resolve this issue.</p>

      <p>Opening times: 8:30am to 4:30pm, Monday to Friday</p>

      <!--@todo content needs to be refined for this. This page is aimed at users who can not self help and the pohone number should go the one of the needs enhanced support teams -->

    </div>

  </div>
</main>

{% endblock %}


