{% extends "govuk-template.html" %}

{% block header %}
{% import "patterns/macro/header.html" as index %}
{{ index.header(proposition=true) }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{% block h1 %}This page cannot be found{% endblock %}</h1>
      <p>Everything you have done up until now has been saved.</p>
      <p>The link you clicked on the previous page is broken. This has been reported to the people who manage this service and
        will be fixed as soon as possible.</p>
      <p><a href="#">Go back to the previous page.</a></p>
    </div>
  </div>
</main>
{% endblock %}
