{% extends "layout-template.html" %}

{% block page_title %}
  404 pages
{% endblock %} 

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/back.html" %}

      <h1 class="heading-xlarge">404 pages</h1>

      <p class="lede">404 pages (usually described as a &#39;page not found&#39;) tell users that the page they were trying to access is
        not there.</p>
      <p>Processes and systems should be put in place to prevent users encountering 404 pages in the first place.</p>
      <!--@todo list a few examples of these things-->
      
      <h2 class="heading-large" id="why-users-see-404-pages">Why users see 404 pages</h2>
      <p>There are three main reasons users encounter a 404 page:</p>
      <ol class="list list-number">
        <li>they followed a link (URL) that is broken or pointing to the wrong location</li>
        <li>they typed or copied a link incorrectly</li>
        <li>they followed an old link or a link that has expired</li>
      </ol>
      
      <h2 class="heading-large" id="404-page-design">404 page design</h2>
      <p>As with all error messages, we should reassure users that their progress has been saved and then help them to fix the error.</p>
      
      <h2 class="heading-large" id="broken-links-or-moved-pages">Broken links or moved pages</h2>
      <p>There are a few possible reasons why this may happen: </p>
      
      <ul class="list list-bullet">
        <li>if a user clicked a broken link</li>
        <li>if a user bookmarked a page and the page has been moved or removed</li>
      </ul>
      
      <h3 class="heading-medium" id="broken-links-todo-reword-this-paragraph-">Broken links
        <!--@todo reword this paragraph-->
      </h3>
      <p><a href="#">Testing</a> should catch errors like this but because of the often disjointed nature of the services we build
        100% coverage may not always be possible.</p>
      <p>If a user has clicked a broken link, we will - in most cases - know this because the referring URL of the page will be from
        within a GOV.UK domain or other domain that we control. 404 errors should be logged and fixed as soon as possible.</p>
      <p>In this situation, we can tell users that we are aware of the problem and are working to resolve it. </p>
      <p><strong>Example 404 page telling users that we know about the problem</strong></p>
      <div class="wrap height-425">
        <iframe src="/pages/404-pages/404-broken-link" frameborder="0"></iframe>
      </div>
      <p><a href="/pages/404-pages/404-broken-link">View this page in a browser</a></p>
      <p>If the result of a broken link is that a user can not complete the transaction and if the service they are using has an alternative
        channel that they can use. Users should be signposted to this channel to complete their transaction.</p>
      
      <p><strong>Example: 404 page with an alternative route</strong></p>
      <div class="wrap height-425">
        <iframe src="/pages/404-pages/404-broken-link-alternative-route" frameborder="0"></iframe>
      </div>
      <p><a href="/pages/404-pages/404-broken-link-alternative-route">View this page in a browser</a></p>
      
      <h3 class="heading-medium" id="moved-pages">Moved pages</h3>
      <p>Whenever a page is moved or removed, a 301 redirect should be implemented to ensure that bookmarks or external links are
        handled in a friendly way.</p>
      <p>If a 301 redirect has not or can not be implemented users will be shown a 404 page. In this case, we would not know the referring
        URL so we can determine that this has been linked to from an external source, outside of our control. In this case, the
        same 404 page should be used as if the user has made a mistake described below.</p>
      
      <h2 class="heading-large" id="copied-links">Copied links</h2>
      <p>When users copy links - either by copying and pasting or retyping a link - there is a higher chance of them making an error
        that they do not notice. In this situation, the content of the 404 page should help them to self-diagnose the issue and
        fix it.</p>
      <p>We can help the user to:</p>
      
      <ul class="list list-bullet">
        <li>check the link is correct</li>
        <li>look out for spaces or other irregularities in the link</li>
        <li>search for the page that they were trying to access if the page is something that they can search for, such as a start
          page</li>
        <li>get help with the problem if the link is likely to be from official correspondence from HMRC such as a printed letter by
          providing an alternative channel if one exists</li>
      </ul>
      
      <p><strong>Example: 404 page when the user has made a mistake</strong></p>
      <div class="wrap height-425">

        <iframe src="/pages/404-pages/404-mistake" frameborder="0"></iframe>
      </div>
      <p><a href="/pages/404-pages/404-mistake">View this page in a browser</a></p>
      
      <p><strong>Example: 404 page when the user has made a mistake, and there is an alternative channel that they can use</strong></p>
      <div class="wrap height-425">
        <iframe src="/pages/404-pages/404-mistake-support" frameborder="0"></iframe>
      </div>
      <p><a href="/pages/404-pages/404-mistake-support">View this page in a browser</a></p>
      
      <p>In the situation where a single user continually makes the same error either through copying and pasting or typing the link
        incorrectly. We can intercept these repeated attempts and provide more detailed help such as providing an alternative channel
        if one is available. In this situation, we may want to withhold this option initially so that users can self-help through
        a digital channel rather than diverting them to less efficient channels.</p>
      <p><strong>Example: 404 page when the user has repeatedly tried to access the same URL</strong></p>
      <div class="wrap height-425">
        <iframe src="/pages/404-pages/404-intelligent" frameborder="0"></iframe>
      </div>
      <p><a href="/pages/404-pages/404-intelligent">View this page in a browser</a></p>

    </div>

  </div>
</main>

{% endblock %}