{% extends "layout-template.html" %} {% block page_title %} 404 pages {% endblock %} {% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">404 pages</h1>

      <p class="lede">This is a work in progress for discussion.</p>

      <h2 class="heading-medium">Standard page</h2>
      <p>Use <a href="404-mistake">this page</a> when the page that the user is looking for is not there.</p>

      <p>Use <a href="404-mistake-support">this page</a> when the page that the user is looking for is not there and there is an alternative support channel.</p>

      <h2 class="heading-medium">Broken link </h2>
      <p>Use <a href="404-broken-link">this page</a> when a user has clicked a link in the service and the page they requested is not there.</p>

      <p>Use <a href="404-broken-link-alternative-route">this page</a> when a user has clicked a link in the service and the page they requested is not there and the service has an alternative channel they can use to complete their transaction.</p>

      <h2 class="heading-medium">Repeated attempts to access a page that's not there</h2>
      <p>Use <a href="404-intelligent">this page</a> when a user has clicked a link in the service and the page they requested
        is not there and the service has an alternative support channel that they can use to complete their journey.</p>
    </div>

  </div>
</main>

{% endblock %}