{% extends "layout3.html" %}

{% block page_title %}
  Service unavailable
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="service-info" style="border-top: 0px;">
    <div class="logo">
      <span class="organisation-logo organisation-logo-medium">HM Revenue &amp; Customs</span>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Service unavailable</h1>

      <p>You will be able to use the service at 9am on Monday 29 May 2017.</p>

    </div>

  </div>
</main>

{% endblock %}


