{% extends "govuk-template.html" %}

{% block header %}
{% import "patterns/macro/header.html" as index %}
{{ index.header(proposition=true) }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{% block h1 %}Service unavailable{% endblock %}</h1>

      <p>The submit an employment intermediary report has closed.</p>

      <p>Contact us if you have any questions.</p>

      <p>Telephone: 03000 555 995</p>

      <p>Opening times: 8:30am to 4:30pm, Monday to Friday</p>

    </div>

  </div>
</main>
<!--HMRC footer-->
{% endblock %}


