{% extends "layout.html" %}

{% block page_title %}
  Service unavailable
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="service-info">
    <div class="logo">
      <span class="organisation-logo organisation-logo-medium">HM Revenue &amp; Customs</span>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Service unavailable</h1>

        <p>Tax credits has been replaced by Universal Credit.</p>

        <p><a href="https://www.gov.uk/contact-the-tax-credit-office" data-sso="false">Contact the Tax Credit Office</a> if you need to speak to someone about your tax credits.</p>

        <p>You can:</p>

        <ul class="list-bullet">
            <li><a href="https://www.gov.uk/universal-credit">find out more about Universal Credit</a></li>
            <li><a href="https://www.gov.uk/apply-universal-credit">apply for Universal Credit</a></li>
            <li><a href="https://www.gov.uk/sign-in-universal-credit">sign in to your Universal Credit account</a></li>
        </ul>

    </div>

  </div>
</main>

{% endblock %}


