{% extends "layout.html" %} {% block page_title %} Service unavailable {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/hmrc_logo_banner.html" %}
  {% include "includes/welsh_toggle.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Service unavailable</h1>

      <p>You will be able to use the service at 9am on Monday 29 May 2017.</p>

      <p><a href="https://www.gov.uk/contact-the-tax-credit-office" data-sso="false">Contact the Tax Credit Office</a> if you
        need to make changes to your claim or speak to someone about your tax credits.</p>
    </div>

  </div>
</main>

{% endblock %}