<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>{% block page_title %}GOV.UK{% endblock %} | GOV.UK - The best place to find government services and
    information</title>
  {% include "includes/new_head.html" %}
  <style>
    html{
      background: #fff;
    }
  </style>
</head>

<body class="{% block body_classes %}{% endblock %}">
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

{% block content %}{% endblock %}

{% block scripts %}
{% include "includes/scripts.html" %}
{% endblock %}

<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
</body>
</html>


