<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="lte-ie8" lang="{{ html_lang|default('en') }}" style="background-color: #fff"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{ html_lang|default('en') }}" style="background-color: #fff"><!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>{% block page_title %}HMRC Design patterns{% endblock %} | {% block h1 %}{% endblock %}</title>
  {% include "includes/head.html" %}
</head>
<body class="{% block body_classes %}{% endblock %}">
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

{% block content %}{% endblock %}

{% block scripts %}
{% include "includes/scripts.html" %}
{% endblock %}

<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
</body>
</html>


