{% extends "layout-template.html" %}

{% block page_title %}
  Shutter pages
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">HMRC design patterns</h1 >

      <h2 class="heading-large">Standard pages</h2>
      <p>These are pages that every HMRC service should contain.</p>

      <ul>
        <li><a href="pages/shutter-pages/index">Shutter pages</a></li>
        <li><a href="pages/404-pages/index">404 pages</a></li>
        <li><a href="pages/500-pages/index">500 pages</a></li>
      </ul>

      <h2 class="heading-large">Global patterns</h2>

      <h3 class="heading-medium">Header</h3>

      <ul>
        <li><a href="patterns/header/header-signed-in">Header - signed in</a></li>
        <li><a href="patterns/header/header-signed-out">Header - signed out</a></li>
        <li><a href="patterns/header/header-no-hmrc-logo">Header - no HMRC logo</a></li>
      </ul>

       

    </div>

  </div>
</main>

{% endblock %}


