{% extends "layout-template.html" %}

{% block page_title %}
  Shutter pages
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">HMRC design patterns</h1 >

      <h2 class="heading-large">Standard page template</h2>
      <ul>
        <li><a href="pages/page-template/index">HMRC page template</a></li>
      </ul>

      <h2 class="heading-large">Standard service pages</h2>
      <p>These are pages that every HMRC service should contain.</p>

      <ul>
        <li><a href="pages/shutter-pages/index">Shutter pages</a></li>
        <li><a href="pages/404-pages/index">404 pages</a></li>
        <li><a href="pages/500-pages/index">500 pages</a></li>
      </ul>

       

    </div>

  </div>
</main>

{% endblock %}


