{% extends "new_layout.html" %}

{% block page_title %}
HMRC design patterns
{% endblock %}

{% block new_header %}
  {% import "macro/header.html" as index %}
  {{ index.header(serviceName='HMRC Design patterns', proposition=true) }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% block banner %}
    {% import "macro/banner.html" as index %}
    {{ index.banner(beta=true, hmrc=true) }}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">HMRC design patterns</h1>

      <p>Patterns displayed here will be descussed at the HMRC patterns working group (to yet be formed). Once patterns
        have been agreed by the working group they will be released through HMRC Assets Frontend for service teams to
        use in their services.</p>

      <p>Patterns that are released will have to fulfill these criteria:</p>

      <ul class="list list-bullet">
        <li>meet a unique user need not met by a GOV.UK design pattern</li>
        <li>be completley accessible</li>
        <li>have undergone at lease one round of usability testing</li>
        <li>be accompanied by research supporting design decisions</li>
      </ul>

      <h2 class="heading-large">Global patterns</h2>

      <ul class="list">
        <li><a href="patterns/header/index">Header</a></li>
        <li><a href="patterns/footer/index">Footer</a></li>
        <li><a href="patterns/get-help-with-this-page/index">Get help with this page</a></li>
      </ul>


      <h2 class="heading-large">Pages</h2>

      <h3 class="heading-medium">Page templates</h3>
      <ul>
        <li><a href="pages/page-template/index">HMRC page template</a></li>
      </ul>

      <h3 class="heading-medium">Service admin pages</h3>
      <p>These are pages that every HMRC service should contain.</p>

      <ul class="list">
        <li><a href="pages/shutter-pages/index">Shutter pages</a></li>
        <li><a href="pages/404-pages/index">404 pages</a></li>
        <li><a href="pages/500-pages/index">500 pages</a></li>
      </ul>
    </div>

  </div>
</main>

{% endblock %}

{% block new_footer %}
{% import "macro/footer.html" as index %}
{{ index.footer(supportLinks=true) }}
{% endblock %}


