

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>
  PLA - Welcome
</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.16.0" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.16.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.16.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.16.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="/public/stylesheets/govuk-template-print.css?0.16.0" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["/public/stylesheets/fonts-ie8.css?0.16.0"]},
       c="/public/javascripts/vendor/goog/webfont-debug.js?0.16.0",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="/public/stylesheets/fonts.css?0.16.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="/public/javascripts/ie.js?0.16.0" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/public/images/favicon.ico?0.16.0" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.16.0">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.16.0">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.16.0">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.16.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/public/images/opengraph-image.png?0.16.0">

    
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


  </head>

  <body class="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      
        
      
    </div>
    <!--end global-cookie-message-->

    
    <header role="banner" id="global-header" class="
  with-proposition
">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.16.0" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
          
        </div>
        
  <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name"> Pensions Lifetime Allowance </a>
      <!--
      <ul id="proposition-links">
        <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
        <li><a href="url-to-page-2">Navigation item #2</a></li>
      </ul>
      -->
    </nav>
  </div>
</div>


      </div>
    </header>
    <!--end header-->
    

    

    <div id="global-header-bar"></div>
    <!--end global-header-bar-->

    



<main id="content" role="main">
    
      <div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

      <div class="breadcrumbs">
  <ol role="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>Pensions Lifetime Allowance</li>
  </ol>
</div>
      
<!-- B10E1E  -->
  <style>
      #global-header-bar { background-color: #B10E1E; }
      .clear-bottom-margin { margin-bottom: 0; }
      .breadcrumbs { display: none; }
      div[class^="phase-banner-"], div[class*="phase-banner-"] { display: none; }
  </style>

 <div>&nbsp;</div>
  <div class="grid-row" id="outage">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
          Service unavailable
          <span class="heading-secondary">Pensions Lifetime Allowance calculator</span>
        </h1>
        <p>
            Incident reference <span class="bold-small">PLA1432-280316</span>
        </p>

         <div class="panel panel-border-wide">
            <p>Super short layman description of the problem.  Assurance e.g. what happens to their data + eta(?) + time/date when the error was first recorded(?)</p>
            <p>
                Possible solutions / in the meantime...
                <ul class="list list-bullet clear-bottom-margin">
                    <li>See if the internet is working.  Try opening <a href="#" target="_blank">BBC</a></li>
                    <li>Grab a fag  ;-)</li>
                </ul>
            </p>
         </div>
  
      </p>
        <p>
            I reckon we should display the <a href="#">phone #</a> or <a href="#">email</a> (or both) to avoid forcing the user to navigate away.
        </p>

        <p>
            Present user with the option to obtain more contact info eg opening hours, other numbers etc. via the service's <a href="#">contact page</a>
        </p>
        
  
	  
        <div>&nbsp;</div>
    </div>
      
    <div class="column-one-third">
        <!-- -->
    </div>
  </div>


</main>



    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        

        <div class="footer-meta">
          <div class="footer-meta-inner">
            

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/public/javascripts/govuk-template.js?0.16.0" type="text/javascript"></script>

    
  <!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>

  </body>
</html>
